// COLORS //
$orange: #E85914;;
$dark-gray: #212529;
$ligth-gray: #4b5056;
$white: white;
$background: #F2F2F2;
$black: rgb(21, 21, 21);
$vert: #4E5726;

// SIZES //
$font-regular: 0.9rem;
$font-h1: 1.2rem;

// MARGINS //
$space-regular: 1rem;
