// COLORS //
$safran: #f19a3e;
$dark-gray: #333;
$white: #ffffff;
$ligth: #F2F2F2;
$black: #151515;
$vert: #4e5726;
$cerise_noire: #523249;
$shadow: rgba(0,0,0,0.2);

// SIZES //
$font-regular: 0.9rem;
$font-h1: 1.2rem;

// MARGINS //
$space-regular: 1rem;
