@import './components/variables';
@import './components/homepage';
@import './components/content';
@import './components/buttons';
@import './components/cards';
@import './components/bubble-menu';
@import './components/skills';
@import './components/footer';
@import './components/tab';
@import './components/typewriter';
@import './components/media-queries';


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@200;300;400;500;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-main;
  letter-spacing: 0.5px;
  font-size: 16px;
  background-color: $black;
  color: $black;
  scroll-behavior: smooth;
}

.dark-mode {
  transition: 0.5s;
  background-color: $black;
  color: $ligth;
}

.light-mode {
  transition: 0.5s;
  background-color: $ligth;
  color: $black;
}

@keyframes apparition {
  100% {
    opacity: 1;
    transform: none;
  }
}
