@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@200;300;400;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@200;300;400;500;900&display=swap");
.main-content {
  height: 100vh;
  width: 100vw;
  background-color: #4e5726;
}

.main-bloc {
  animation: apparition 0.3s ease-in-out 0.5s forwards;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 30px;
  margin-bottom: 100px;
}

.typewriter-bloc {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.name {
  width: 530px;
  height: 350px;
  padding: 32px;
  text-transform: capitalize;
}

.name:hover {
  cursor: none;
}

.custom-cursor {
  display: none;
}

.custom-cursor.hovered {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 0.1px solid #F2F2F2;
  position: absolute;
  z-index: 100;
  backdrop-filter: blur(5px);
  filter: invert(2);
}

.name h1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-weight: 900;
  font-size: 150px;
  letter-spacing: -8px;
  line-height: 0.8;
  color: #F2F2F2;
}

.name #hover1 {
  animation: apparition 0.8s ease-in-out 0.5s forwards;
  transform: translateX(-30px);
}

.name #hover2 {
  animation: apparition 0.4s ease-in-out 0.5s forwards;
  transform: translateX(-30px);
}

.intro {
  max-width: 400px;
  margin: 32px;
  animation: apparition 0.6s ease-in-out 0.5s forwards;
  transform: translateX(30px);
  border: 1px solid #F2F2F2;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #F2F2F2;
  font-weight: 500;
  background: rgba(78, 87, 38, 0.8);
}

.function {
  width: 100%;
  margin-top: 24px;
  font-size: 32px;
  font-weight: 500;
  color: #F2F2F2;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.section {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  color: #ffeded;
  text-transform: uppercase;
  font-size: 7vmin;
  padding-left: 10%;
  padding-right: 10%;
}

section:nth-child(odd) {
  justify-content: flex-end;
}

.text-section {
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  font-weight: 900;
  color: #F2F2F2;
  width: 50%;
}

.project-shortcut {
  color: #FF6B35;
  text-decoration: none;
}

.project-shortcut:hover {
  color: #523249;
}

.portfolio-shortcut {
  color: #FF6B35;
  text-decoration: none;
  font-size: 16px;
}

.portfolio-shortcut:hover {
  color: #F2F2F2;
  text-decoration: underline;
}

.email-shortcut {
  color: #E9B44C;
  text-decoration: none;
}

.email-shortcut:hover {
  color: #f19a3e;
}

.question-shortcut {
  color: #f19a3e;
}

.homepage-message {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 100;
  color: #F2F2F2;
  transform: rotate(-90deg);
  position: absolute;
  top: 200px;
  left: -120px;
  text-transform: lowercase;
}

.homepage-message2 {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 100;
  color: #F2F2F2;
  position: absolute;
  top: 20px;
  left: 40px;
  text-transform: lowercase;
}

#l-letter {
  text-transform: uppercase;
}

.barre-section {
  width: 100%;
  margin-left: 16px;
  height: 2px;
  background-color: #F2F2F2;
}

.second-bloc {
  margin-top: 72px;
}

.bloc-title {
  width: 100%;
  margin-left: 12px;
  justify-content: space-between;
}

.about {
  color: #F2F2F2;
  font-weight: 400;
}

.about-meet-ball {
  color: #F2F2F2;
  margin-bottom: 36px;
  max-width: 80%;
}

.phrase-projet {
  color: #F2F2F2;
  font-size: 16px;
  font-weight: lighter;
  margin-left: 12px;
}

.title {
  color: #F2F2F2;
}

.btn-flat {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  background-color: #151515;
  color: #F2F2F2;
  border: 1px solid #151515;
  border-radius: 8px;
  padding: 8px 16px;
  width: 130px;
}

.btn-flat:hover {
  transition: 0.3s ease-in-out;
  text-decoration: underline;
  background-color: #F2F2F2;
  color: #151515;
}

.button-on-top {
  margin-bottom: 48px;
}

.linkedin {
  text-decoration: none;
  font-weight: bold;
  color: #F2F2F2;
  font-size: 35px;
  margin-right: 16px;
  margin-bottom: 32px;
  transform: translateX(-30px);
  animation: apparition 1s ease-in-out 0.5s forwards;
}

.linkedin:hover {
  text-decoration: underline;
  color: #f19a3e;
}

.links-title {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 50px;
}

.links-title a {
  color: #F2F2F2;
  font-size: 36px;
  margin-right: 32px;
}

.links-title a:hover {
  color: #f19a3e;
  transition: 0.2s ease-in-out;
}

#arrow-btn {
  margin-left: 8px;
}

.intro a {
  position: absolute;
  bottom: -16px;
  right: 16px;
  z-index: 1;
  color: #F2F2F2;
  background-color: #4e5726;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
}

.container-btn-to-top {
  display: flex;
  justify-content: end;
  margin: 32px 32px -32px 0;
}

.btn-to-top {
  width: 32px;
  height: 32px;
  z-index: 10;
  color: #F2F2F2;
  border: 0.1px solid #F2F2F2;
  border-radius: 50%;
  box-shadow: 0 0 10px 1px #F2F2F2;
  transition: all 0.2s 0.1s ease-in-out;
}

.btn-to-top a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #F2F2F2;
}

.btn-to-top:hover {
  color: #f19a3e;
  border: 0.1px solid #f19a3e;
  box-shadow: 0 0 10px 1px #f19a3e;
  transform: scale(1.1);
}

#arrow {
  margin-left: 16px;
}

.container-dark-mode-btn {
  display: flex;
  justify-content: start;
  background-color: #4e5726;
  position: absolute;
}

.dark-mode-btn {
  width: 32px;
  height: 32px;
  margin: 16px;
  z-index: 1;
  color: #F2F2F2;
  border: 0.1px solid #F2F2F2;
  border-radius: 50%;
  box-shadow: 0 0 10px 1px #F2F2F2;
  transition: all 0.2s 0.1s ease-in-out;
}

.dark-mode-btn:hover {
  color: #f19a3e;
  cursor: pointer;
  border: 0.1px solid #f19a3e;
  box-shadow: 0 0 10px 1px #f19a3e;
  transform: scale(1.1);
}

.dark-mode-btn a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #F2F2F2;
  transition: all 0.2s 0.1s ease-in-out;
}

.dark-mode-btn a:hover {
  transform: rotate(180deg);
}

.itchio-logo {
  width: 32px;
  height: 32px;
  transition: all 0.2s 0.1s ease-in-out;
  margin-bottom: 8px;
}

#XP {
  margin-top: 150px;
}

.projets {
  display: flex;
  justify-content: center;
}

.card-project {
  max-width: 400px;
  margin: 16px;
  border: 1px solid #F2F2F2;
  padding: 24px;
  border-radius: 8px;
  color: #F2F2F2;
  position: relative;
}

.card-meet-ball a {
  position: absolute;
  bottom: -16px;
  right: 16px;
  z-index: 1;
  color: #F2F2F2;
  background-color: #151515;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
}

.year-cards {
  margin-bottom: -12px;
  margin-top: -8px;
  font-size: 16px;
}

.card-meet-ball:hover {
  box-shadow: 0 1px 20px rgb(250, 250, 250);
  transition: 0.3s ease-in-out;
}

.card-airbingame a {
  position: absolute;
  bottom: -16px;
  right: 16px;
  z-index: 1;
  color: #F2F2F2;
  background-color: #151515;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
}

.card-airbingame:hover {
  box-shadow: 0 1px 20px rgb(250, 250, 250);
  transition: 0.3s ease-in-out;
}

.card-experience {
  margin-top: 32px;
  margin-bottom: 32px;
}

.card-experience a {
  position: absolute;
  bottom: -16px;
  right: 16px;
  z-index: 1;
  color: #F2F2F2;
  background-color: #151515;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
}

.card-experience:hover {
  box-shadow: 0 1px 20px rgb(250, 250, 250);
  transition: 0.3s ease-in-out;
}

.card-trip {
  overflow: hidden;
  background: #F2F2F2;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 64px;
  border-radius: 8px;
}

.card-trip > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.card-trip h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 16px;
  opacity: 0.7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  color: #151515;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.digital-business-card a {
  color: #F2F2F2;
  text-decoration: none;
  font-weight: lighter;
}

.digital-business-card a:hover {
  color: #F2F2F2;
  text-decoration: underline;
  transition: 0.3s ease-in-out;
}

#game-link {
  color: #F2F2F2;
  text-decoration: none;
  font-weight: lighter;
}

.projet-promo {
  max-width: 80%;
}

.disney {
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 50%), url("../ressources/disney2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  text-decoration: none;
}

.disney:hover {
  transition: 0.3s ease-in-out;
  background-image: url("../ressources/disney2.jpeg");
}

.la-ferme-de-novelle {
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 50%), url("https://images.unsplash.com/photo-1516253593875-bd7ba052fbc5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  text-decoration: none;
  text-align: center;
}

.la-ferme-de-novelle:hover {
  transition: 0.3s ease-in-out;
  background-image: url("https://images.unsplash.com/photo-1516253593875-bd7ba052fbc5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}

.la-berjotine {
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 50%), url("../ressources/la-berjotine.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  text-decoration: none;
  text-align: center;
}

.la-berjotine:hover {
  transition: 0.3s ease-in-out;
  background-image: url("../ressources/la-berjotine.png");
}

.star-wars {
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 50%), url("../ressources/star-wars-empire-base.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  text-decoration: none;
  text-align: center;
}

.star-wars:hover {
  transition: 0.3s ease-in-out;
  background-image: url("../ressources/star-wars-empire-base.png");
}

.next-portfolio {
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 50%), url("../ressources/next-portfolio2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  text-decoration: none;
  text-align: center;
}

.next-portfolio:hover {
  transition: 0.3s ease-in-out;
  background-image: url("../ressources/next-portfolio2.png");
}

.haunted-house {
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 50%), url("../ressources/haunted-house.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  text-decoration: none;
  text-align: center;
}

.haunted-house:hover {
  transition: 0.3s ease-in-out;
  background-image: url("../ressources/haunted-house.png");
}

.threejs {
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 50%), url("../ressources/threejs.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  text-decoration: none;
  text-align: center;
}

.threejs:hover {
  transition: 0.3s ease-in-out;
  background-image: url("../ressources/threejs.png");
}

.sollum {
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 50%), url("../ressources/sollum.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  text-decoration: none;
  text-align: center;
}

.sollum:hover {
  transition: 0.3s ease-in-out;
  background-image: url("../ressources/sollum.png");
}

.registration {
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 50%), url("../ressources/registration.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  text-decoration: none;
}

.registration:hover {
  transition: 0.3s ease-in-out;
  background-image: url("../ressources/registration.png");
}

.business-card {
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 50%), url("../ressources/business-card.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  text-decoration: none;
}

.business-card:hover {
  transition: 0.3s ease-in-out;
  background-image: url("../ressources/business-card.png");
}

.projet-perso h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #F2F2F2;
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 0 10px #151515;
  z-index: 100;
}

.projets-perso-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.projets-perso-cards a {
  height: 300px;
  width: 300px;
  margin: 24px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
}

.projet-perso {
  position: relative;
}

.techno {
  position: absolute;
  bottom: -6px;
  left: 0;
  color: #F2F2F2;
  background-color: #151515;
  padding: 8px;
  border-radius: 0 8px 8px;
  margin-bottom: 0;
  font-size: 12px;
  box-shadow: 0 0 10px #151515;
}

.container-bubble-menu {
  width: 200px;
  height: 200px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}

.icon {
  width: 32px;
  border-radius: 50%;
}

.bubble-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #f19a3e;
  transform: scale(1.1);
  position: absolute;
  top: 10%;
  right: 10%;
  z-index: 20;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.bubble-btn:hover {
  border: 0.1px solid #F2F2F2;
  transform: scale(1);
}

.bubble {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 10%;
  right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bubble-1-1 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 26%;
  right: 28%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s 0.2s ease-in-out;
}

.bubble-1-2 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 15%;
  right: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s 0.3s ease-in-out;
}

.bubble-1-3 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 31%;
  right: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s 0.1s ease-in-out;
}

.container-bubble-menu.active .bubble-1-1 {
  top: 20%;
  right: 20%;
}

.container-bubble-menu.active .bubble-1-2 {
  top: 20%;
  right: 20%;
}

.container-bubble-menu.active .bubble-1-3 {
  top: 20%;
  right: 20%;
}

.bubble-2 {
  text-decoration: none;
  background-color: transparent;
  color: #F2F2F2;
  opacity: 0;
  z-index: 9;
  border: 0.1px solid #F2F2F2;
  transition: all 0.2s 0.2s ease-in-out;
}

.bubble-2:hover {
  color: #f19a3e;
  border: 0.1px solid #f19a3e;
  transition: 0.2s ease-in-out;
}

.bubble-3 {
  text-decoration: none;
  background-color: transparent;
  color: #F2F2F2;
  opacity: 0;
  z-index: 5;
  border: 0.1px solid #F2F2F2;
  transition: all 0.2s 0.3s ease-in-out;
}

.bubble-3:hover {
  color: #f19a3e;
  border: 0.1px solid #f19a3e;
  transition: 0.2s ease-in-out;
}

.bubble-1 {
  text-decoration: none;
  background-color: transparent;
  color: #F2F2F2;
  opacity: 0;
  z-index: 5;
  border: 0.1px solid #F2F2F2;
  transition: all 0.2s 0.1s ease-in-out;
}

.bubble-1:hover {
  color: #f19a3e;
  border: 0.1px solid #f19a3e;
  transition: 0.2s ease-in-out;
}

.container-bubble-menu.active .bubble-2 {
  top: 40%;
  right: 40%;
  opacity: 1;
  box-shadow: 0 0 10px 1px #F2F2F2;
  background-color: #151515;
}

.container-bubble-menu.active .bubble-3 {
  top: 10%;
  right: 50%;
  opacity: 1;
  box-shadow: 0 0 10px 1px #F2F2F2;
  background-color: #151515;
}

.container-bubble-menu.active .bubble-1 {
  top: 50%;
  right: 10%;
  opacity: 1;
  box-shadow: 0 0 10px 1px #F2F2F2;
  background-color: #151515;
}

.skills {
  list-style: none;
  margin-top: 36px;
  padding: 0;
  max-width: 90%;
  border-radius: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skills li {
  background-color: rgba(255, 255, 255, 0.3);
  width: 300px;
  height: 100px;
  border-radius: 16px;
  margin: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
}

.skills li img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.skills li p {
  font-size: 16px;
  color: #F2F2F2;
  text-transform: uppercase;
}

.threejs-logo {
  width: 200px;
  height: 150px;
  object-fit: contain;
}

#css-logo {
  width: 200px;
  height: 110px;
  object-fit: contain;
}

#heroku {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.footer {
  display: flex;
  align-items: center;
  height: 120px;
  border-top: 0.1px solid #F2F2F2;
  margin-top: 64px;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: #F2F2F2;
  opacity: 0.5;
  text-decoration: none;
  font-size: 32px;
  padding: 0px 10px;
  margin: 16px;
  transition: 0.2s ease-in-out;
  z-index: 1;
}

.footer-links a:hover {
  opacity: 1;
  transition: 0.2s ease-in-out;
}

.tab-bloc {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #151515;
}

.tab {
  height: 70px;
  width: 100%;
  margin: 5px;
  margin-left: 32px;
  margin-right: 32px;
  border-radius: 16px;
  background-color: #F2F2F2;
  transition: 0.4s ease-out;
  position: relative;
  overflow: hidden;
  max-width: 90%;
  margin: 6px;
}

.tab:hover {
  cursor: pointer;
}

.open {
  height: 250px;
}

.tab * {
  pointer-events: none;
}

.tab-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.ligne {
  width: 100%;
  height: 1px;
  background-color: #151515;
  margin: 10px 10px;
}

.tab-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 13px 16px;
}

.tab-header h3 {
  font-size: 16px;
  margin: 16px;
  flex-shrink: 0;
}

.tab-content {
  display: flex;
}

.tab-content img {
  width: 100px;
  height: 100px;
  margin: 16px;
}

.tab-content p {
  margin: 18px;
  font-size: 16px;
}

.tab:nth-child(2) p {
  font-weight: bold;
}

.tab-logo {
  color: #151515;
  font-size: 24px;
}

.title-writer {
  color: #F2F2F2;
  margin-right: 48px;
  width: 400px;
  height: 100px;
}

@media screen and (max-width: 1100px) {
  .homepage-bloc {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .name h1 {
    font-size: 90px;
  }
  .typewriter-bloc {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
  }
  .title-writer {
    max-width: 500px;
    text-align: center;
  }
  .text-section {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 900;
    color: #F2F2F2;
    width: 100%;
  }
  .homepage-message {
    display: none;
  }
  .homepage-message2 {
    display: none;
  }
  .last-section {
    margin-bottom: 500px;
  }
  .main-bloc {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    display: flex;
  }
  .name {
    margin-top: -70px;
    width: 80vw;
  }
  .title {
    text-align: center;
  }
  .name span {
    font-size: 100px;
  }
  .linkedin {
    margin-top: 300px;
    margin-bottom: 0;
    margin-right: 0;
  }
  .projets {
    flex-direction: column;
    margin: 16px;
  }
  .experience {
    flex-direction: column;
    margin: 16px;
  }
  .intro {
    margin: 24px;
    max-width: 80%;
  }
  .function {
    font-size: 32px;
    margin-top: 6px;
  }
  .about {
    display: none;
  }
  .card-project {
    height: 300px;
    font-size: 12px;
    margin: 0;
    margin-top: 16px;
  }
  .card-experience {
    height: 300px;
    margin: 0;
  }
  .barre {
    display: none;
  }
  .github {
    font-size: 24px;
    border-radius: 10px;
  }
  .contact {
    font-size: 24px;
    border-radius: 10px;
  }
  .links-title {
    display: flex;
    justify-content: center;
  }
  .tab-content img {
    display: none;
  }
  .tab-content p {
    font-size: 2.5vw;
  }
  .skills {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 16px;
    width: 100%;
  }
  .projet-promo {
    max-width: 100%;
  }
  iframe {
    width: 80% !important;
  }
  .slider-container {
    display: none;
  }
}
.slider-container {
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 130px;
}

.slider {
  animation: slider-1 12s infinite ease-in-out;
  display: flex;
}

.slider p {
  flex-shrink: 0;
  width: 100%;
  text-align: center;
  font-size: 36px;
  color: #f1f1f1;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 100;
}

.slider-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes slider-1 {
  0%, 10% {
    transform: translateX(0);
  }
  15%, 25% {
    transform: translateX(-100%);
  }
  30%, 40% {
    transform: translateX(-200%);
  }
  45%, 55% {
    transform: translateX(-300%);
  }
  60%, 70% {
    transform: translateX(-400%);
  }
  75%, 85% {
    transform: translateX(-500%);
  }
  90%, 100% {
    transform: translateX(-600%);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #151515;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  font-size: 16px;
  background-color: #151515;
  color: #151515;
  scroll-behavior: smooth;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  max-width: 100vw;
}

iframe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 700px;
  height: 100%;
  transition: 0.4s ease-out;
  position: relative;
  border-radius: 4px;
}

iframe:hover {
  transform: scale(1.1);
  transition: 0.4s ease-out;
  filter: drop-shadow(0 0 0.75rem #ffffff);
}

.dark-mode {
  transition: 0.5s;
  background-color: #151515;
  color: #F2F2F2;
}

.light-mode {
  transition: 0.5s;
  background-color: #F2F2F2;
  color: #151515;
}

@keyframes apparition {
  100% {
    opacity: 1;
    transform: none;
  }
}
.wave {
  position: relative;
  top: -10px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.wave-white {
  position: relative;
  top: 50px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/*# sourceMappingURL=style.css.map */
