@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@200;300;400;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@200;300;400;500;900&display=swap");
.main-content {
  height: 100vh;
  width: 100wh;
  background-color: #4e5726;
}

.main-bloc {
  margin-top: 36px;
  opacity: 0;
  animation: apparition 0.3s ease-in-out 0.5s forwards;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.name h1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.name span {
  font-weight: 900;
  font-size: 150px;
  letter-spacing: -8px;
  line-height: 0.8;
  color: #F2F2F2;
}

#hover1:hover {
  color: #523249;
  transform: translateX(8px);
}

#hover2:hover {
  color: #f19a3e;
  transform: translateX(8px);
}

.name #hover1 {
  animation: apparition 0.8s ease-in-out 0.5s forwards;
  transform: translateX(-30px);
}

.name #hover2 {
  animation: apparition 0.4s ease-in-out 0.5s forwards;
  transform: translateX(-30px);
}

.intro {
  max-width: 400px;
  margin: 32px;
  animation: apparition 0.6s ease-in-out 0.5s forwards;
  transform: translateX(30px);
  border: 1px solid #F2F2F2;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #F2F2F2;
  font-weight: 500;
  background: rgba(78, 87, 38, 0.8);
}

.function {
  width: 100%;
  margin-top: 24px;
  font-size: 32px;
  font-weight: 500;
  color: #F2F2F2;
}

.barre-section {
  width: 100%;
  margin-left: 16px;
  height: 2px;
  background-color: #F2F2F2;
}

.second-bloc {
  margin-top: 72px;
}

.bloc-title {
  width: 100%;
  margin-left: 12px;
  justify-content: space-between;
}

.about {
  color: #151515;
}

.about-meet-ball {
  color: #F2F2F2;
  margin-bottom: 36px;
  max-width: 80%;
}

.phrase-projet {
  color: #F2F2F2;
  font-size: 16px;
  font-weight: lighter;
  margin-left: 12px;
}

.title {
  color: #F2F2F2;
}

.btn-flat {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  background-color: #151515;
  color: #F2F2F2;
  border: 1px solid #151515;
  border-radius: 8px;
  padding: 8px 16px;
  width: 130px;
}

.btn-flat:hover {
  transition: 0.3s ease-in-out;
  text-decoration: underline;
  background-color: #F2F2F2;
  color: #151515;
}

.button-on-top {
  margin-bottom: 48px;
}

.linkedin {
  text-decoration: none;
  font-weight: bold;
  color: #F2F2F2;
  font-size: 35px;
  margin-right: 16px;
  margin-bottom: 32px;
  transform: translateX(-30px);
  animation: apparition 1s ease-in-out 0.5s forwards;
}

.linkedin:hover {
  text-decoration: underline;
  color: #151515;
}

.links-title {
  margin-top: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.links-title a {
  color: #F2F2F2;
  font-size: 36px;
  margin-right: 32px;
}

.links-title a:hover {
  color: #151515;
  transition: 0.2s ease-in-out;
}

#arrow-btn {
  margin-left: 8px;
}

.intro a {
  position: absolute;
  bottom: -16px;
  right: 16px;
  z-index: 1;
  color: #F2F2F2;
  background-color: #4e5726;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
}

.container-btn-to-top {
  display: flex;
  justify-content: end;
  margin: 32px 32px -32px 0;
}

.btn-to-top {
  width: 32px;
  height: 32px;
  z-index: 1;
  color: #F2F2F2;
  border: 0.1px solid #F2F2F2;
  border-radius: 50%;
  box-shadow: 0 0 10px 1px #F2F2F2;
  transition: all 0.2s 0.1s ease-in-out;
}

.btn-to-top a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #F2F2F2;
}

.btn-to-top:hover {
  color: #f19a3e;
  border: 0.1px solid #f19a3e;
  box-shadow: 0 0 10px 1px #f19a3e;
  transform: scale(1.1);
}

#arrow {
  margin-left: 16px;
}

.container-dark-mode-btn {
  display: flex;
  justify-content: start;
  background-color: #4e5726;
  position: absolute;
}

.dark-mode-btn {
  width: 32px;
  height: 32px;
  margin: 16px;
  z-index: 1;
  color: #F2F2F2;
  border: 0.1px solid #F2F2F2;
  border-radius: 50%;
  box-shadow: 0 0 10px 1px #F2F2F2;
  transition: all 0.2s 0.1s ease-in-out;
}

.dark-mode-btn:hover {
  color: #f19a3e;
  cursor: pointer;
  border: 0.1px solid #f19a3e;
  box-shadow: 0 0 10px 1px #f19a3e;
  transform: scale(1.1);
}

.dark-mode-btn a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #F2F2F2;
  transition: all 0.2s 0.1s ease-in-out;
}

.dark-mode-btn a:hover {
  transform: rotate(180deg);
}

.itchio-logo {
  width: 32px;
  height: 32px;
  transition: all 0.2s 0.1s ease-in-out;
  margin-bottom: 8px;
}

.projets {
  display: flex;
  justify-content: center;
}

.card-project {
  max-width: 400px;
  margin-left: 32px;
  border: 1px solid #F2F2F2;
  padding: 24px;
  border-radius: 8px;
  color: #F2F2F2;
  position: relative;
}

.card-meet-ball a {
  position: absolute;
  bottom: -16px;
  right: 16px;
  z-index: 1;
  color: #F2F2F2;
  background-color: #151515;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
}

.year-cards {
  margin-bottom: -12px;
  margin-top: -8px;
  font-size: 16px;
}

.card-meet-ball:hover {
  box-shadow: 0 1px 20px rgb(250, 250, 250);
  transition: 0.3s ease-in-out;
}

.card-airbingame a {
  position: absolute;
  bottom: -16px;
  right: 16px;
  z-index: 1;
  color: #F2F2F2;
  background-color: #151515;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
}

.card-airbingame:hover {
  box-shadow: 0 1px 20px rgb(250, 250, 250);
  transition: 0.3s ease-in-out;
}

.card-experience {
  margin-top: 32px;
  margin-bottom: 32px;
}

.card-experience a {
  position: absolute;
  bottom: -16px;
  right: 16px;
  z-index: 1;
  color: #F2F2F2;
  background-color: #151515;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
}

.card-experience:hover {
  box-shadow: 0 1px 20px rgb(250, 250, 250);
  transition: 0.3s ease-in-out;
}

.card-trip {
  overflow: hidden;
  background: #F2F2F2;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 64px;
  border-radius: 8px;
}

.card-trip > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.card-trip h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 16px;
  opacity: 0.7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  color: #151515;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.digital-business-card a {
  color: #F2F2F2;
  text-decoration: none;
  font-weight: lighter;
}

.digital-business-card a:hover {
  color: #F2F2F2;
  text-decoration: underline;
  transition: 0.3s ease-in-out;
}

#game-link {
  color: #F2F2F2;
  text-decoration: none;
  font-weight: lighter;
}

.projet-promo {
  max-width: 80%;
}

.test-technique {
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 50%), url("../ressources/test-technique.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  text-decoration: none;
}

.test-technique:hover {
  transition: 0.3s ease-in-out;
  background-image: url("../ressources/test-technique.png");
}

.la-ferme-de-novelle {
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 50%), url("../ressources/poule-mange-dans-la-main.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  text-decoration: none;
  text-align: center;
}

.la-ferme-de-novelle:hover {
  transition: 0.3s ease-in-out;
  background-image: url("../ressources/poule-mange-dans-la-main.jpg");
}

.haunted-house {
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 50%), url("../ressources/haunted-house.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  text-decoration: none;
  text-align: center;
}

.haunted-house:hover {
  transition: 0.3s ease-in-out;
  background-image: url("../ressources/haunted-house.png");
}

.threejs {
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 50%), url("../ressources/threejs.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  text-decoration: none;
  text-align: center;
}

.threejs:hover {
  transition: 0.3s ease-in-out;
  background-image: url("../ressources/threejs.png");
}

.watchlist {
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 50%), url("../ressources/watchlist.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  text-decoration: none;
  text-align: center;
}

.watchlist:hover {
  transition: 0.3s ease-in-out;
  background-image: url("../ressources/watchlist.png");
}

.to-do-list {
  background-size: cover;
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 50%), url("../ressources/to-do-list.png");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  text-decoration: none;
}

.to-do-list:hover {
  transition: 0.3s ease-in-out;
  background-image: url("../ressources/to-do-list.png");
}

.airbnb-react {
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 50%), url("../ressources/airbnb-clone-react.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  text-decoration: none;
}

.airbnb-react:hover {
  transition: 0.3s ease-in-out;
  background-image: url("../ressources/airbnb-clone-react.png");
}

.business-card {
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 50%), url("../ressources/business-card.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  text-decoration: none;
}

.business-card:hover {
  transition: 0.3s ease-in-out;
  background-image: url("../ressources/business-card.png");
}

.projet-perso h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #F2F2F2;
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 0 10px #151515;
  z-index: 100;
}

.projets-perso-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.projets-perso-cards a {
  height: 300px;
  width: 300px;
  margin: 24px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
}

.container-bubble-menu {
  width: 200px;
  height: 200px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}

.icon {
  width: 32px;
  border-radius: 50%;
}

.bubble-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 0.1px solid #F2F2F2;
  position: absolute;
  top: 10%;
  right: 10%;
  z-index: 20;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.bubble-btn:hover {
  border: 0.1px solid #f19a3e;
  transform: scale(1.1);
}

.bubble {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 10%;
  right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bubble-1-1 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 26%;
  right: 28%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s 0.2s ease-in-out;
}

.bubble-1-2 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 15%;
  right: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s 0.3s ease-in-out;
}

.bubble-1-3 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 31%;
  right: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s 0.1s ease-in-out;
}

.container-bubble-menu.active .bubble-1-1 {
  top: 20%;
  right: 20%;
}

.container-bubble-menu.active .bubble-1-2 {
  top: 20%;
  right: 20%;
}

.container-bubble-menu.active .bubble-1-3 {
  top: 20%;
  right: 20%;
}

.bubble-2 {
  text-decoration: none;
  background-color: transparent;
  color: #F2F2F2;
  opacity: 0;
  z-index: 9;
  border: 0.1px solid #F2F2F2;
  transition: all 0.2s 0.2s ease-in-out;
}

.bubble-2:hover {
  color: #f19a3e;
  border: 0.1px solid #f19a3e;
  transition: 0.2s ease-in-out;
}

.bubble-3 {
  text-decoration: none;
  background-color: transparent;
  color: #F2F2F2;
  opacity: 0;
  z-index: 5;
  border: 0.1px solid #F2F2F2;
  transition: all 0.2s 0.3s ease-in-out;
}

.bubble-3:hover {
  color: #f19a3e;
  border: 0.1px solid #f19a3e;
  transition: 0.2s ease-in-out;
}

.bubble-1 {
  text-decoration: none;
  background-color: transparent;
  color: #F2F2F2;
  opacity: 0;
  z-index: 5;
  border: 0.1px solid #F2F2F2;
  transition: all 0.2s 0.1s ease-in-out;
}

.bubble-1:hover {
  color: #f19a3e;
  border: 0.1px solid #f19a3e;
  transition: 0.2s ease-in-out;
}

.container-bubble-menu.active .bubble-2 {
  top: 40%;
  right: 40%;
  opacity: 1;
  box-shadow: 0 0 10px 1px #F2F2F2;
  background-color: #151515;
}

.container-bubble-menu.active .bubble-3 {
  top: 10%;
  right: 50%;
  opacity: 1;
  box-shadow: 0 0 10px 1px #F2F2F2;
  background-color: #151515;
}

.container-bubble-menu.active .bubble-1 {
  top: 50%;
  right: 10%;
  opacity: 1;
  box-shadow: 0 0 10px 1px #F2F2F2;
  background-color: #151515;
}

.skills {
  list-style: none;
  margin-top: 32px;
  flex-wrap: wrap;
  display: flex;
  padding: 0;
  max-width: 70%;
}

.skills li {
  width: 100px;
  height: 100px;
  border-radius: 16px;
  margin: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills li img {
  width: 80%;
}

.threejs-logo {
  width: 200px;
  height: 150px;
  object-fit: contain;
}

.footer {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: #ffffff;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: #151515;
  opacity: 0.5;
  text-decoration: none;
  font-size: 32px;
  padding: 0px 10px;
  margin: 16px;
}

.footer-links a:hover {
  opacity: 1;
  transition: 0.2s ease-in-out;
}

.tab-bloc {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
  background-color: #4e5726;
}

.tab {
  height: 70px;
  margin: 5px;
  margin-left: 32px;
  margin-right: 32px;
  border-radius: 16px;
  background-color: #F2F2F2;
  transition: 0.4s ease-out;
  position: relative;
  overflow: hidden;
  max-width: 90%;
  margin: 5px auto;
}

.tab:hover {
  cursor: pointer;
}

.open {
  height: 250px;
}

.tab * {
  pointer-events: none;
}

.tab-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.ligne {
  width: 100%;
  height: 1px;
  background-color: #151515;
  margin: 10px 10px;
}

.tab-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 13px 16px;
}

.tab-header h3 {
  font-size: 16px;
  margin: 16px;
  flex-shrink: 0;
}

.tab-content {
  display: flex;
}

.tab-content img {
  width: 100px;
  height: 100px;
  margin: 16px;
}

.tab-content p {
  margin: 16px;
  font-size: 1.5vw;
}

.tab:nth-child(2) p {
  font-weight: bold;
}

.tab-logo {
  color: #151515;
  font-size: 24px;
}

.title-writer {
  color: #F2F2F2;
  display: flex;
  margin-bottom: 16px;
  margin-top: 16px;
  position: absolute;
}

@media screen and (max-width: 768px) {
  canvas {
    width: 100% !important;
    height: auto !important;
    opacity: 0.2;
  }
  .main-bloc {
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
  }
  .name {
    margin-top: 32px;
  }
  .title {
    text-align: center;
  }
  .name span {
    font-size: 100px;
  }
  .linkedin {
    margin-top: 300px;
    margin-bottom: 0;
    margin-right: 0;
  }
  .projets {
    flex-direction: column;
    margin: 16px;
  }
  .experience {
    flex-direction: column;
    margin: 16px;
  }
  .intro {
    margin: 24px;
    max-width: 80%;
  }
  .function {
    font-size: 32px;
    margin-top: 6px;
  }
  .about {
    display: none;
  }
  .card-project {
    height: 300px;
    font-size: 12px;
    margin: 0;
    margin-top: 16px;
  }
  .card-experience {
    height: 300px;
    margin: 0;
  }
  .barre {
    display: none;
  }
  .github {
    font-size: 24px;
    border-radius: 10px;
  }
  .contact {
    font-size: 24px;
    border-radius: 10px;
  }
  .links-title {
    display: flex;
    justify-content: center;
  }
  .tab-content img {
    display: none;
  }
  .tab-content p {
    font-size: 2.5vw;
  }
  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    margin-top: 16px;
    width: 100%;
  }
  .skills li {
    width: 72px;
    height: 72px;
  }
  .projet-promo {
    max-width: 100%;
  }
  iframe {
    width: 80% !important;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  font-size: 16px;
  background-color: #151515;
  color: #151515;
  scroll-behavior: smooth;
}

canvas {
  position: absolute;
  z-index: -1;
  opacity: 0.3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

iframe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 700px;
  height: 100%;
  transition: 0.4s ease-out;
  position: relative;
  border-radius: 4px;
}

iframe:hover {
  transform: scale(1.1);
  transition: 0.4s ease-out;
  filter: drop-shadow(0 0 0.75rem #ffffff);
}

.dark-mode {
  transition: 0.5s;
  background-color: #151515;
  color: #F2F2F2;
}

.light-mode {
  transition: 0.5s;
  background-color: #F2F2F2;
  color: #151515;
}

@keyframes apparition {
  100% {
    opacity: 1;
    transform: none;
  }
}
.wave {
  position: relative;
  top: -10px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.wave-white {
  position: relative;
  top: 10px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/*# sourceMappingURL=style.css.map */
