.btn-flat {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  background-color: $black;
  color: $ligth;
  border: 1px solid $black;
  border-radius: 8px;
  padding: 8px 16px;
  width: 130px;
}

.btn-flat:hover {
  transition: 0.3s ease-in-out;
  text-decoration: underline;
  background-color: $ligth;
  color: $black;
}

.button-on-top {
  margin-bottom: 48px;
}

.linkedin {
  text-decoration: none;
  font-weight: bold;
  color: $ligth;
  font-size: 35px;
  margin-right: 16px;
  margin-bottom: 32px;
  transform: translateX(-30px);
  animation: apparition 1s ease-in-out 0.5s forwards;
}

.linkedin:hover {
  text-decoration: underline;
  color: $black;
}

.links-title {
  margin-top: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.links-title a {
  color: $ligth;
  font-size: 36px;
  margin-right: 32px;
}

.links-title a:hover {
  color: $black;
  transition: 0.2s ease-in-out;
}

#arrow-btn {
  margin-left: 8px;
}

.intro a {
  position: absolute;
  bottom: -16px;
  right: 16px;
  z-index: 1;
  color: $ligth;
  background-color: $vert;
  border: 1px solid $ligth;
  border-radius: 8px;
}

.container-btn-to-top {
  display: flex;
  justify-content: end;
  margin: 32px 32px -32px 0;
}

.btn-to-top {
  width: 32px;
  height: 32px;
  z-index: 1;
  color: $ligth;
  border: 0.1px solid $ligth;
  border-radius: 50%;
  box-shadow: 0 0 10px 1px $ligth;
  transition: all 0.2s 0.1s ease-in-out;
}

.btn-to-top a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $ligth;
}

.btn-to-top:hover {
  color: $safran;
  border: 0.1px solid $safran;
  box-shadow: 0 0 10px 1px $safran;
  transform: scale(1.1);
}

#arrow {
  margin-left: 16px;
}

.container-dark-mode-btn {
  display: flex;
  justify-content: start;
  background-color: $vert;
  position: absolute;
}

.dark-mode-btn {
  width: 32px;
  height: 32px;
  margin: 16px;
  z-index: 1;
  color: $ligth;
  border: 0.1px solid $ligth;
  border-radius: 50%;
  box-shadow: 0 0 10px 1px $ligth;
  transition: all 0.2s 0.1s ease-in-out;
}

.dark-mode-btn:hover {
  color: $safran;
  cursor: pointer;
  border: 0.1px solid $safran;
  box-shadow: 0 0 10px 1px $safran;
  transform: scale(1.1);
}

.dark-mode-btn a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $ligth;
  transition: all 0.2s 0.1s ease-in-out;
}

.dark-mode-btn a:hover {
  transform: rotate(180deg);
}

.itchio-logo {
  width: 32px;
  height: 32px;
  transition: all 0.2s 0.1s ease-in-out;
}
