#XP {
  margin-top: 150px;
}

.projets {
  display: flex;
  justify-content: center;
}

.card-project {
  max-width: 400px;
  margin: 16px;
  border: 1px solid $ligth;
  padding: 24px;
  border-radius: 8px;
  color: $ligth;
  position: relative;
}

.card-meet-ball a {
  position: absolute;
  bottom: -16px;
  right: 16px;
  z-index: 1;
  color: $ligth;
  background-color: $black;
  border: 1px solid $ligth;
  border-radius: 8px;
}

.year-cards {
  margin-bottom: -12px;
  margin-top: -8px;
  font-size: 16px;
}

.card-meet-ball:hover {
  box-shadow: 0 1px 20px rgb(250, 250, 250);
  transition: 0.3s ease-in-out;
}


.card-airbingame a {
  position: absolute;
  bottom: -16px;
  right: 16px;
  z-index: 1;
  color: $ligth;
  background-color: $black;
  border: 1px solid $ligth;
  border-radius: 8px;
}

.card-airbingame:hover {
  box-shadow: 0 1px 20px rgb(250, 250, 250);
  transition: 0.3s ease-in-out;
}

.card-experience {
  margin-top: 32px;
  margin-bottom: 32px;
}

.card-experience a {
  position: absolute;
  bottom: -16px;
  right: 16px;
  z-index: 1;
  color: $ligth;
  background-color: $black;
  border: 1px solid $ligth;
  border-radius: 8px;
}

.card-experience:hover {
  box-shadow: 0 1px 20px rgb(250, 250, 250);
  transition: 0.3s ease-in-out;
}

.card-trip {
  overflow: hidden;
  background: $ligth;
  box-shadow: 0 0 15px $shadow;
  margin-bottom: 64px;
  border-radius: 8px;
}

.card-trip > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.card-trip h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  color: $black;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.digital-business-card a {
  color: $ligth;
  text-decoration: none;
  font-weight: lighter;
}

.digital-business-card a:hover {
  color: $ligth;
  text-decoration: underline;
  transition: 0.3s ease-in-out;
}

#game-link {
  color: $ligth;
  text-decoration: none;
  font-weight: lighter;
}

.projet-promo {
  max-width: 80%;
}

// .test-technique {
//   background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url("../ressources/test-technique.png");
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
//   border: none;
//   text-decoration: none;
// }

// .test-technique:hover {
//   transition: 0.3s ease-in-out;
//   background-image: url("../ressources/test-technique.png");
// }

.disney {
  background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url("../ressources/disney2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  text-decoration: none;
  text-align: center;
}

.disney:hover {
  transition: 0.3s ease-in-out;
  background-image: url("../ressources/disney2.jpeg");
}


.la-ferme-de-novelle {
  background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url("https://images.unsplash.com/photo-1516253593875-bd7ba052fbc5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  text-decoration: none;
  text-align: center;
}

.la-ferme-de-novelle:hover {
  transition: 0.3s ease-in-out;
  background-image: url("https://images.unsplash.com/photo-1516253593875-bd7ba052fbc5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}

.la-berjotine {
  background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url("../ressources/la-berjotine.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  text-decoration: none;
  text-align: center;
}

.la-berjotine:hover {
  transition: 0.3s ease-in-out;
  background-image: url("../ressources/la-berjotine.png");
}

.star-wars {
  background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url("../ressources/star-wars-empire-base.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  text-decoration: none;
  text-align: center;
}

.star-wars:hover {
  transition: 0.3s ease-in-out;
  background-image: url("../ressources/star-wars-empire-base.png");
}

.next-portfolio {
  background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url("../ressources/next-portfolio2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  text-decoration: none;
  text-align: center;
}

.next-portfolio:hover {
  transition: 0.3s ease-in-out;
  background-image: url("../ressources/next-portfolio2.png");
}

.haunted-house {
  background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url("../ressources/haunted-house.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  text-decoration: none;
  text-align: center;
}

.haunted-house:hover {
  transition: 0.3s ease-in-out;
  background-image: url("../ressources/haunted-house.png");
}

.threejs {
  background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url("../ressources/threejs.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  text-decoration: none;
  text-align: center;
}

.threejs:hover {
  transition: 0.3s ease-in-out;
  background-image: url("../ressources/threejs.png");
}

// .watchlist {
//   background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url("../ressources/watchlist.png");
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
//   border: none;
//   text-decoration: none;
//   text-align: center;

// }

// .watchlist:hover {
//   transition: 0.3s ease-in-out;
//   background-image: url("../ressources/watchlist.png");
// }

.sollum {
  background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url("../ressources/sollum.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  text-decoration: none;
  text-align: center;

}

.sollum:hover {
  transition: 0.3s ease-in-out;
  background-image: url("../ressources/sollum.png");
}

// .to-do-list {
//   background-size: cover;
//   background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url("../ressources/to-do-list.png");
//   background-position: center;
//   background-repeat: no-repeat;
//   border: none;
//   text-decoration: none;
// }

// .to-do-list:hover {
//   transition: 0.3s ease-in-out;
//   background-image: url("../ressources/to-do-list.png");
// }

.registration {
  background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url("../ressources/registration.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  text-decoration: none;
}

.registration:hover {
  transition: 0.3s ease-in-out;
  background-image: url("../ressources/registration.png");
}

.business-card {
  background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url("../ressources/business-card.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  text-decoration: none;
}

.business-card:hover {
  transition: 0.3s ease-in-out;
  background-image: url("../ressources/business-card.png");
}

.projet-perso h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: $ligth;
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 0 10px $black;
  z-index: 100;
}

.projets-perso-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.projets-perso-cards a {
  height: 300px;
  width: 300px;
  margin: 24px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
}

.projet-perso {
  position: relative;
}

.techno {
  position: absolute;
  bottom: -6px;
  left: 0;
  color: $ligth;
  background-color: $black;
  padding: 8px;
  border-radius: 0 8px 8px;
  margin-bottom: 0;
  font-size: 12px;
  box-shadow: 0 0 10px $black;
}
