.main-content {
  height: 100vh;
  width: 100vw;
  background-color: $vert;
}

.main-bloc {
  animation: apparition 0.3s ease-in-out 0.5s forwards;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 30px;
  margin-bottom: 100px;
}

.typewriter-bloc {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.name {
  width: 530px;
  height: 350px;
  padding: 32px;
  // font-family: $font-name;
  text-transform: capitalize;
}

.name:hover {
  cursor: none;
}

.custom-cursor {
  display: none;
}

.custom-cursor.hovered {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 0.1px solid $ligth;
  position: absolute;
  z-index: 100;
  backdrop-filter: blur(5px);
  filter:invert(2)
}

.name h1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-weight: 900;
  font-size: 150px;
  letter-spacing: -8px;
  line-height: 0.8;
  color: $ligth;
}

// .name span {
//   font-weight: 900;
//   font-size: 150px;
//   letter-spacing: -8px;
//   line-height: 0.8;
//   color: $ligth;
// }

// #hover1:hover {
//   color: $cerise_noire;
// }

// #hover2:hover {
//   color: $safran;
// }

.name #hover1 {
  animation: apparition 0.8s ease-in-out 0.5s forwards;
  transform: translateX(-30px);
}

.name #hover2 {
  animation: apparition 0.4s ease-in-out 0.5s forwards;
  transform: translateX(-30px);
}

.intro {
  max-width: 400px;
  margin: 32px;
  animation: apparition 0.6s ease-in-out 0.5s forwards;
  transform: translateX(30px);
  border: 1px solid $ligth;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 0 0 1px $ligth;
  font-weight: 500;
  background: transparentize($color: $vert, $amount: 0.2);
}

.function {
  width: 100%;
  margin-top: 24px;
  font-size: 32px;
  font-weight: 500;
  color: $ligth;
}


.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.section
{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    color: #ffeded;
    text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
}

section:nth-child(odd)
{
    justify-content: flex-end;
}

.text-section {
  font-family: $font-main;
  font-size: 64px;
  font-weight: 900;
  color: $ligth;
  width: 50%;
}

.project-shortcut {
  color: $red;
  text-decoration: none;
}

.project-shortcut:hover {
  color: $cerise_noire;
}

.portfolio-shortcut {
  color: $red;
  text-decoration: none;
  font-size: 16px;
}

.portfolio-shortcut:hover {
  color: $ligth;
  text-decoration: underline;
}

.email-shortcut {
  color: $yellow;
  text-decoration: none;
}

.email-shortcut:hover {
  color: $safran;
}

.question-shortcut {
  color: $safran;
}

.homepage-message {
  font-family: $font-main;
  font-size: 12px;
  font-weight: 100;
  color: $ligth;
  transform: rotate(-90deg);
  position: absolute;
  top: 200px;
  left: -120px;
  text-transform: lowercase;
}

.homepage-message2 {
  font-family: $font-main;
  font-size: 12px;
  font-weight: 100;
  color: $ligth;
  position: absolute;
  top: 20px;
  left: 40px;
  text-transform: lowercase;
}

#l-letter {
  text-transform: uppercase;
}
