@media screen and (max-width: 768px) {

  canvas {
    width: 100% !important;
    height: auto !important;
    opacity: 0.2;
  }

  .text-section {
    font-family: $font-main;
    font-size: 32px;
    font-weight: 900;
    color: $ligth;
    width: 100%;
  }

  .homepage-bloc {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    display: flex;
  }

  .homepage-message {
    display: none;
  }

  .homepage-message2 {
    display: none;
  }

  .last-section {
    margin-bottom: 500px;
  }

  .main-bloc {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    display: flex;
  }

  .name {
    margin-top: -70px;
    width: 80vw;
  }

  .title {
    text-align: center;
  }

  .name span {
    font-size: 100px;
  }

  .linkedin {
    margin-top: 300px;
    margin-bottom: 0;
    margin-right: 0;
  }

  .projets {
    flex-direction: column;
    margin: 16px;
  }

  .experience {
    flex-direction: column;
    margin: 16px;
  }

  .intro {
    margin: 24px;
    max-width: 80%;
  }

  .function {
    font-size: 32px;
    margin-top: 6px;
  }

  .about {
    display: none;
  }

  .card-project {
    height: 300px;
    font-size: 12px;
    margin: 0;
    margin-top: 16px;
  }

  .card-experience {
    height: 300px;
    margin: 0;
  }

  .barre {
    display: none;
  }

  .github {
    font-size: 24px;
    border-radius: 10px;
  }

  .contact {
    font-size: 24px;
    border-radius: 10px;
  }

  .links-title {
    display: flex;
    justify-content: center;
  }

  .tab-content img {
    display: none;
  }

  .tab-content p {
    font-size: 2.5vw;
  }

  .skills {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 16px;
    width: 100%;
  }

  .projet-promo {
    max-width: 100%;
  }

  iframe {
    width: 80% !important;
  }

  .slider-container {
    display: none;
  }

}
