@media screen and (max-width: 768px) {


  .main-bloc {
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
  }

  .name {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .title {
    text-align: center;
  }

  .name span {
    font-size: 100px;
  }

  .linkedin {
    margin-top: 300px;
    margin-bottom: 0;
    margin-right: 0;
  }

  .projets {
    flex-direction: column;
    margin: 16px;
  }

  .experience {
    flex-direction: column;
    margin: 16px;
  }

  .intro {
    margin: 24px;
    max-width: 80%;
  }

  .function {
    font-size: 32px;
    margin-top: 6px;
  }

  .about {
    display: none;
  }

  .card-project {
    height: 300px;
    font-size: 12px;
    margin: 0;
    margin-top: 16px;
  }

  .card-experience {
    width: 400px;
    height: 300px;
    margin: 16px;
  }

  .barre {
    display: none;
  }

  .github {
    font-size: 24px;
    border-radius: 10px;
  }

  .contact {
    font-size: 24px;
    border-radius: 10px;
  }

  .links-title {
    display: flex;
    justify-content: center;
  }

  .tab-content img {
    display: none;
  }

  .tab-content p {
    font-size: 2.5vw;
  }

}
