.tab-bloc {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
  background-color: $vert;
}

.tab {
  height: 70px;
  margin: 5px;
  margin-left: 32px;
  margin-right: 32px;
  border-radius: 16px;
  background-color: $ligth;
  transition: 0.4s ease-out;
  position: relative;
  overflow: hidden;
  max-width: 90%;
  margin: 5px auto;
}

.open {
  height: 250px;
}

.tab * {
  pointer-events: none;
}

.tab-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.ligne {
  width: 100%;
  height: 1px;
  background-color: $black;
  margin: 10px 10px;
}

.tab-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 13px 16px;
}

.tab-header h3 {
  font-size: 16px;
  margin: 16px;
  flex-shrink: 0;
}

.tab-content {
  display: flex;
}

.tab-content img {
  width: 100px;
  height: 100px;
  margin: 16px;
}

.tab-content p {
  margin: 16px;
  font-size: 1.5vw;
}

.tab:nth-child(2) p {
  font-weight: bold;
}
