@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@200;300;400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

// COLORS //
$safran: #f19a3e;
$dark-gray: #333;
$white: #ffffff;
$ligth: #F2F2F2;
$black: #151515;
$vert: #4e5726;
$cerise_noire: #523249;
$red: #FF6B35;
$yellow: #E9B44C;
$shadow: rgba(0,0,0,0.2);

// FONTS //
$font-main: 'Roboto', sans-serif;
$font-title: 'Poppins', sans-serif;
$font-slider: 'Special Elite', cursive;
$font-name: 'Righteous', cursive;

// RANDOM NUMBER //
$randomNumber: random(100);


// // SIZES //
// $font-regular: 0.9rem;
// $font-h1: 1.2rem;

// // MARGINS //
// $space-regular: 1rem;
